.favourite{
    background-image: url("flower_boy_full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    display: inline-block;
    padding: 30px;
    background-color: rgba(207, 211, 214, 0.548);
    width: 35%;   
}

.main{
    padding: 10%;
}